<div class="routines-container">
  <h1>Routines</h1>
  <div class="form" data-controller="modal">
    <% if @routines.any? %>
      <% @routines.each do |routine| %>
        <div class="routine btn__extra">
          <%= link_to truncate(routine.exercise, length: 23), routine_path(routine.id) %>
          <i class="uil uil-ellipsis-v btn__modal" data-modal-id-param="<%= routine.id %>" data-action="click->modal#openModal" ></i>
          <dialog class="modal" id="modal-<%= routine.id %>" data-modal-id-param="<%= routine.id %>" data-action="click->modal#closeModal" data-modal-target="modal">
            <span class="modal__close" data-modal-id-param="<%= routine.id %>" data-action="click->modal#closeModal">
              &times;
            </span>
            <ul class="modal__list">
              <li class="modal__list-item">
                <%= link_to 'Edit', edit_routine_path(routine.id), class: 'btn__actions' %>
              </li>
              <li class="modal__list-item btn__actions__turbo-method">
                <%= button_to "Delete", routine_path(routine.id),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  method: :delete, class: 'btn__actions__danger' %>
              </li>
            </ul>
          </dialog>
        </div>
      <% end %>
    <% else %>
      <p>No routines were found.</p>
    <% end %>

    <%= link_to 'Create routine', new_routine_path, class: 'btn__actions btn__extra btn__actions__info' %>
  </div>
</div>
