<div class="logo">
  <%= image_tag "logo.png", alt: "logo" %>
  <h1>GYMRAT</h1>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
  <h2>Sign up</h2>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, require: true %>
  </div>

  <div class="field">
    <%= f.label :lastName %>
    <%= f.text_field :lastName, autofocus: true, require: true %>
  </div>

  <div class="field">
    <%= f.label :image_profile, "Upload a new image", style: "display: block" %>
    <%= f.file_field :image_profile, accept: "image/jpg, image/jpeg, image/png", require: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", require: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", require: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", require: true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>

  <div class="actions actions__devise-links">
    <%= render "devise/shared/links" %>
  </div>
<% end %>

