<h2 class="mt-0"><%= title %></h2>

<div data-controller="preview storie">
  <%= form_with(model: @stories , html:{class: 'overflow'}) do |form| %> 
    <div class="rich-text-trix form_post">
      <%= form.rich_text_area :body %>
    </div>
    <div class = "col_form">
      <% if @stories.images.attached? %> 
        <%= form.label :images, "Upload a new image", style: "display: block" %>
        <%= form.file_field :images, accept: "image/jpg, image/jpeg, image/png", multiple: true %>
        <%= form.label :images, "Select images to delete", style: "display: block" %>
        <% @stories.images.each do |image| %>
          <% if image.persisted? %>
            <div>
              <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
              <%= check_box_tag "post[images_to_remove][]", image.signed_id, false, { id: "post_images_to_remove_#{image.signed_id}" } %>
              <%= label_tag "post_images_to_remove_#{image.signed_id}", "Delete", style: "display: inline" %>
              <%= image_tag url_for(image), width: 200 %> 
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= form.label :images, "Upload your images", style: "display: block" %>
        <%= form.file_field :images, accept: "image/jpg, image/jpeg, image/png", multiple: true %>
        <div class="image-preview-container"></div>
      <% end %>
    </div>
    <div>
        <%= form.label :day, class: "hidden" %>
        <%= form.date_field :day, class:"hidden", data: { target: "storie.field" } %>
    </div>
    <%= form.submit class: 'btn' %>
  <% end %>
</div>
