<div class="logo">
  <%= image_tag("gymratlogo.png") %>
  <h1>GYMRAT</h1>
</div>

<div class="wrapper">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="input-box">
    <%= f.label :email, required: true%>
    <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class:"input-field" %>
  </div>

  <div class="input-box">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password", class:"input-field" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="remember-forgot">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="links">
    <%= f.submit "Log in" , class:"btn"%>
<<<<<<< HEAD

  </div>
<% end %>

=======
  </div>
<% end %>
>>>>>>> 337086b774e4743f7ae47dea8ee9d6a11919263d
    <%= render "devise/shared/links" %>
</div>
