<div class="posts" data-controller="modal">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-header">
        <%= link_to user_path(post.user_id), class: 'user' do %>
          <%= post.user.image_profile.attached? ? image_tag(post.user.image_profile) : image_tag("avatar-default.webp") %>
          <div>
            <h2><%= "#{post.user.name} #{post.user.lastName}" %></h2>
            <p><%= post.created_at.strftime("%d-%m-%Y a las %H:%M") %></p>
          </div>
        <% end %>
        <% if post.user_id == current_user.id %>
          <i class="uil uil-ellipsis-v btn__modal"  data-modal-id-param="<%= post.id %>" data-action="click->modal#openModal" ></i>
          <dialog class="modal" id="modal-<%= post.id %>" data-modal-id-param="<%= post.id %>" data-action="click->modal#closeModal" data-modal-target="modal">
            <span class="modal__close" data-modal-id-param="<%= post.id %>" data-action="click->modal#closeModal">
              &times;
            </span>
            <ul class="modal__list">
              <li class="modal__list-item">
                <%= link_to 'Edit', edit_post_path(post.id), class: 'btn__actions' %>
              </li>
              <li class="modal__list-item btn__actions__turbo-method">
                <%= button_to "Delete", post_path(post.id),
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  method: :delete, class: 'btn__actions__danger' %>
              </li>
            </ul>
          </dialog>
        <% end %>
      </div>
      <%= link_to post_path(post.id) do %>
        <div class="post-body">
          <%= post.body %>
        </div>
        <div class="post-images">
          <% if post.images.attached? %>
            <% post.images.each do |image| %>
              <div>
                <%= image_tag image.representation(resize_to_limit: [300, 300]) %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="post-footer">
        <div class="actions">
          <%= render partial: 'likes/like_button', locals: { post: post, user_likes: @user_likes, like: @like } %>
          <%= link_to post_path(post.id) do %>
            <i class="uil uil-comment"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
