<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>

<div class="posts">
  <% @posts.each do |post| %>
    <%= link_to edit_post_path(post.id) do%>
      <div class="post">
        <div class="post-header">
          <div class="user">
            <%= image_tag current_user.image_profile %>
            <div>
              <h2><%=post.user.name%> <%=post.user.lastName%></h2>
              <p><%= post.created_at.strftime("%d-%m-%Y a las %H:%M") %></p>
            </div>
          </div>
          <i class="bi bi-three-dots"></i>
        </div>
        <div class="post-body">
          <%=post.body%>
        </div>
        <div class="post-images">
          <% if post.images.attached? %>
            <% post.images.each do |image| %>
              <div>
                <%= image_tag image.representation(resize_to_limit: [300, 300]) %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="post-footer">
          <div class="actions">
            <i class="bi bi-heart-fill"></i>
            <i class="bi bi-chat-fill"></i>
            <i class="bi bi-share-fill"></i>
          </div>
        </div>
      </div>
    <%end%>
  <% end %>
</div>
