<h2 class="mt-0"><%= title %></h2>

<div class="posts">
  <%= form_with(model: @post) do |form| %>
    <div class="post">
      <div class="post-header">
        <div class="user">
          <%= image_tag current_user.image_profile %>
          <div>
            <h2><%= current_user.name %> <%= current_user.lastName %></h2>
            <p><%= Time.now.strftime("%d-%m-%Y a las %H:%M") %></p>
          </div>
        </div>
        <i class="bi bi-three-dots"></i>
      </div>
      <div class="post-body">
        <%= form.label :body, style: "display: block" %>
        <%= form.text_field :body %>
      </div>
      <div class="post-images">
            <% @post.images.each do |image| %>
                <div>
                  <%= image_tag image.representation(resize_to_limit: [300, 300]) %>
                </div>
            <% end %>
          </div>
        <% if @post.images.any? %>
        <div>
          <%= form.label :images, "Upload a new image", style: "display: block" %>
          <%= form.file_field :images, accept: "image/jpg, image/jpeg, image/png", multiple: true, required: true %>
        </div>
        <% else %>
          <%= form.label :images, "Upload your images", style: "display: block" %>
          <%= form.file_field :images, accept: "image/jpg, image/jpeg, image/png", multiple: true, required: true %>
        <% end %>
      
    </div>
    <%= form.submit %>
  <% end %>
</div>
