<h2 class="mt-0"><%= title %></h2>
<%= form_with(model: @post) do |form| %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.label :images, style: "display: block" %>
    <%= form.file_field :images, multiple: true %>
    <% @post.images.each do |image| %>
      <% if image.persisted? %>
        <div>
          <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
          <%= check_box_tag "post[images_to_remove][]", image.signed_id, false, { id: "post_images_to_remove_#{image.signed_id}" } %>
          <%= label_tag "post_images_to_remove_#{image.signed_id}", "Eliminar", style: "display: inline" %>
          <%= image_tag image, width: 200 %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
