<div class="tittle_exercise">   
  <div class="routine btn__extra tittle_routine" data-controller="modal">
    <h3><%= series.name %></h3>
    <i class="uil uil-ellipsis-v btn__modal" data-modal-id-param="<%= series.id %>"  data-action="click->modal#openModal"></i> 
    <dialog class="modal" id="modal-<%= series.id %>" data-modal-id-param="<%= series.id %>" data-action="click->modal#closeModal" data-modal-target="modal">
      <span class="modal__close" data-modal-id-param="<%= series.id %>" data-action="click->modal#closeModal">
        &times;
      </span>
      <ul class="modal__list">
        <li class="modal__list-item">
          <%= link_to 'Edit', edit_routine_series_path(@routine, series.id), class: 'btn__actions' %>
        </li>
        <li class="modal__list-item btn__actions__turbo-method">
          <%= button_to 'Delete', routine_series_path(@routine, series.id),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            method: :delete, class: 'btn__actions__danger' %>
        </li>
      </ul>
    </dialog>    
  </div>
</div>
<div class="reps_weight">
  <h4>REPS</h4>
  <h4>WEIGHT</h4>
</div>
